div#pale-gray {width : 400px ;
				height : 50px ; 
				background : #CCC ; 
				margin : 20px }

div#lite-gray { position : relative ; 
				left : -4px ; 
				top : -40x ;
				height : 100% ; 
				background : #999 ;}

div#dark-gray { position : relative ; 
				left : -4px ;
				top : -4px ;
				height : 100% ; 
				background : #666 }

div#text-box { position : relative ; 
				left : -4px ; 
				top : -4px ; 
				height : 100% ; 
				background : lime }
				
p{ background : aqua ; 
   border : 1px solid black }				

   
span{ position : relative ; 
	 top : -18px ; 
	 left : 100px ; 
	 background : green ;
	 border : 1px solid black }

			