div {width : 20em ; 
	margin : 00 2em 0 ; 
	border : 0.1em solid black ; 
	background : orange }

div.inner {
			margin : 0 ; width : 10em ; 
			background : yellow }

div.center { 
			margin : auto ; 
			background : aqua }

div.center-text { 
				text-align : center ;
				background : lime }